<div class="home-legend">
  <button class="home-legend__btn" type="button" aria-label="הסבר צבעים">?</button>
  <div class="home-legend__tooltip" role="tooltip">
    <span class="home-legend__title">מפתח צבעים</span>
    <ul class="home-legend__list">
      <li class="home-legend__item">
        <span class="home-legend__swatch home-legend__swatch--white"></span>
        <span>ערך תקין</span>
      </li>
      <li class="home-legend__item">
        <span class="home-legend__swatch home-legend__swatch--red"></span>
        <span>קונפליקט פתוח</span>
      </li>
      <li class="home-legend__item">
        <span class="home-legend__swatch home-legend__swatch--green"></span>
        <span>קונפליקט מוכרע</span>
      </li>
    </ul>
  </div>
</div>
