<span class="home-table__th-label">{{ $label() }}</span>
<div class="home-table__th-search">
  <i class="pi pi-search home-table__th-search-icon"></i>
  <input
    class="home-table__th-search-input"
    type="text"
    [value]="$filterValue()"
    (input)="filterChange.emit($any($event.target).value)"
  />
  <button
    class="home-table__th-search-clear"
    [class.home-table__th-search-clear--hidden]="!_$hasValue()"
    type="button"
    (click)="filterChange.emit('')"
  >
    <i class="pi pi-times"></i>
  </button>
</div>
