<div class="home-layout">
  <app-table-action-bar
    [$resultCount]="_store.total()"
    [$columnGroups]="_store.columnGroups()"
    [$selectedTable]="_store.selectedTable()"
    [$selectedColumns]="_store.selectedColumns()"
    [$hasActiveFilters]="_$hasActiveFilters()"
    (entitySelected)="onEntitySelected($event)"
    (columnToggle)="onColumnToggle($event)"
    (columnReorder)="onColumnReorder($event)"
    (exportExcel)="onExportExcel()"
    (clearFilters)="onClearFilters()"
    (uploadClick)="onUploadClick()"
  />
  <app-home-table />
</div>
