<div class="home-table">
  <div class="home-table__scroll" #scrollContainer>
    <table class="home-table__table">
      <thead>
        <tr>
          @if ($isExportMode()) {
            <th class="home-table__th home-table__th--checkbox"></th>
          }
          @for (col of _$displayColumns(); track col) {
            <th class="home-table__th">
              <app-table-column-header
                [$label]="_displayNames.getColumnLabelByKey(col)"
                [$filterValue]="_store.filters()[col] || ''"
                (filterChange)="onFilterChange(col, $event)"
              />
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @if (_store.isLoading() && _store.rows().length === 0) {
          @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track i) {
            <tr class="home-table__tr home-table__tr--skeleton">
              @if ($isExportMode()) {
                <td class="home-table__td home-table__td--checkbox"></td>
              }
              @for (col of _$displayColumns(); track col) {
                <td class="home-table__td"><span class="home-table__skeleton"></span></td>
              }
            </tr>
          }
        } @else {
          @for (row of _store.rows(); track trackByIndex($index)) {
            <tr
              class="home-table__tr"
              [class.home-table__tr--selected]="$isExportMode() && $selectedExportIndices().has($index)"
            >
              @if ($isExportMode()) {
                <td class="home-table__td home-table__td--checkbox" (click)="$event.stopPropagation()">
                  <input
                    type="checkbox"
                    class="home-table__export-checkbox"
                    [checked]="$selectedExportIndices().has($index)"
                    (change)="onRowCheckboxChange($index)"
                  />
                </td>
              }
              @for (col of _$displayColumns(); track col) {
                <td
                  class="home-table__td home-table__td--{{ cellStatus(row[col]) }}"
                  (click)="onCellClick(row, col, $event)"
                  (mouseenter)="onCellMouseEnter(row, col, $event)"
                  (mouseleave)="onCellMouseLeave()"
                >
                  <app-table-data-cell
                    [$value]="cellValue(row[col])"
                    [$href]="getConflictHref(row, col)"
                  />
                </td>
              }
            </tr>
          }
          @if (_store.isLoadingMore()) {
            @for (i of [1, 2, 3]; track i) {
              <tr class="home-table__tr home-table__tr--skeleton">
                @if ($isExportMode()) {
                  <td class="home-table__td home-table__td--checkbox"></td>
                }
                @for (col of _$displayColumns(); track col) {
                  <td class="home-table__td"><span class="home-table__skeleton"></span></td>
                }
              </tr>
            }
          }
          @if (_store.rows().length === 0 && !_store.isLoading()) {
            <tr>
              <td class="home-table__empty" [attr.colspan]="_$displayColumns().length">אין נתונים</td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>

@if (_$historyTarget(); as target) {
  <app-conflict-history-popup
    [$target]="target"
    (closed)="onHistoryPopupClose()"
    (reverted)="onHistoryPopupReverted()"
  />
}

@if (_$cellInfoTarget(); as target) {
  <app-cell-info-popup
    [$target]="target"
    (closed)="onCellInfoPopupClose()"
  />
}
