.upload-dialog {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 480px;
  max-height: 90vh;
  direction: rtl;

  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__close {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-navy-gray);
    font-size: var(--font-size-md);
    padding: 0.25rem;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    margin-right: auto;

    &:hover {
      color: var(--color-dark-navy);
    }
  }

  &__title {
    font-size: 1.25rem;
    color: var(--color-dark-navy);
    margin: 0;
  }

  &__subtitle {
    font-size: var(--font-size-xs);
    color: var(--color-navy-gray);
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__format-row {
    display: flex;
  }

  &__formats-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-surface);
    border: 1px solid var(--color-light-gray);
    border-radius: 0.375rem;
    color: var(--color-dark-navy);
    font-size: var(--font-size-sm);
    font-family: inherit;
    padding: 0.5rem 0.75rem;
    cursor: pointer;

    .pi-chevron-down {
      font-size: var(--font-size-xs);
    }

    &:hover {
      background-color: var(--color-surface-hover);
    }
  }

  &__formats-list {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }

  &__format-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 0.625rem 1rem;
    background: none;
    color: var(--color-dark-navy);
    font-size: var(--font-size-sm);
    font-family: inherit;
    cursor: pointer;
    width: 100%;
    text-align: right;
    border: none;
    border-bottom: 1px var(--color-light-gray) solid;

    &:last-child {
      border-bottom: none;
    }

    .pi-download {
      color: var(--color-navy-gray);
      font-size: var(--font-size-sm);
    }

    &:hover {
      background-color: var(--color-option-hover);

      .pi-download {
        color: var(--color-blue);
      }
    }
  }

  &__files {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    max-height: 12rem;
    direction: ltr;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .upload-dialog__file {
      direction: rtl;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
  }

  ::ng-deep .upload-dialog__confirm-btn {
    min-width: 6.5rem;
    height: 2.25rem;

    .p-button-label {
      font-size: var(--font-size-xs);
    }
  }
}
