<div class="upload-dialog">
  <div class="upload-dialog__header">
    <button class="upload-dialog__close" (click)="onClose()">
      <i class="pi pi-times"></i>
    </button>
    <h2 class="upload-dialog__title">{{ _labelMap.title }}</h2>
  </div>

  <p class="upload-dialog__subtitle">
    <i class="pi pi-angle-left"></i>
    {{ _labelMap.subtitle }}
  </p>

  <div class="upload-dialog__format-row">
    <button class="upload-dialog__formats-btn" (click)="formatsPanel.toggle($event)">
      {{ _labelMap.formatPlaceholder }}
      <i class="pi pi-chevron-down"></i>
    </button>
    <p-overlayPanel #formatsPanel>
      <div class="upload-dialog__formats-list">
        @for (option of _$formatOptions(); track option.assetPath) {
          <button class="upload-dialog__format-item" (click)="onDownloadTemplate(option, formatsPanel)">
            <i class="pi pi-download"></i>
            <span>{{ option.label }}</span>
          </button>
        }
      </div>
    </p-overlayPanel>
  </div>

  <app-upload-dropzone (filesDropped)="onFilesDropped($event)" />

  @if (_$uploadedFiles().length > 0) {
    <div class="upload-dialog__files">
      @for (file of _$uploadedFiles(); track file.id) {
        <app-upload-file-row
          [$file]="file"
          (viewConflicts)="onViewConflicts($event)"
          (downloadReport)="onDownloadReport($event)"
        />
      }
    </div>
  }

  <div class="upload-dialog__footer">
    <p-button
      [label]="_labelMap.confirm"
      severity="info"
      styleClass="upload-dialog__confirm-btn"
      (onClick)="onConfirm()"
    ></p-button>
  </div>
</div>
