<div class="table-action-bar">
  <div class="table-action-bar__actions">
    <button class="table-action-bar__btn" (click)="tableSelect.emit($event)">
      <i class="pi pi-table"></i>
      {{ _labelMap.selectTable }}
    </button>
    <button class="table-action-bar__btn" (click)="columnManage.emit($event)">
      <i class="pi pi-sliders-h"></i>
      {{ _labelMap.manageColumns }}
    </button>
    <button class="table-action-bar__btn" (click)="exportExcel.emit()">
      <i class="pi pi-download"></i>
      {{ _labelMap.exportExcel }}
    </button>
  </div>

  <span class="table-action-bar__count">
    {{ _labelMap.resultsFound }}: {{ $resultCount() }} {{ _labelMap.results }}
  </span>
</div>
